# Loading and cleading the data

In [3]:
import pandas as pd

df = pd.read_csv("100 Sales Records.csv")
print(df.head())  # Preview the first few rows
print(df.info())
print(df.describe())
print(df.isnull().sum())  # Check for missing values
df.dropna(inplace = True) # Eliminate Null 
# Total sales by product
sales_by_product = df.groupby("Item Type")["Total Revenue"].sum().sort_values(ascending=False)
print(sales_by_product)

total_revenue = df.groupby("Region")["Total Revenue"].sum()
total_profit = df.groupby("Country")["Total Profit"].sum().sort_values(ascending=False).head(10)
most_sold_item = df.groupby("Item Type")["Units Sold"].sum().sort_values(ascending=False)
print(f"TOTAL REVENUE: {total_revenue}")
print(f"TOTAL PROFIT: {total_profit}")
print(f"MOST SOLD ITEM: {most_sold_item}")

                              Region                Country        Item Type  \
0              Australia and Oceania                 Tuvalu        Baby Food
1  Central America and the Caribbean                Grenada           Cereal
2                             Europe                 Russia  Office Supplies
3                 Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                 Sub-Saharan Africa                 Rwanda  Office Supplies

  Sales Channel Order Priority Order Date   Order ID  Ship Date  Units Sold  \
0       Offline              H  5/28/2010  669165933  6/27/2010        9925
1        Online              C  8/22/2012  963881480  9/15/2012        2804
2       Offline              L   5/2/2014  341417157   5/8/2014        1779
3        Online              C  6/20/2014  514321792   7/5/2014        8102
4       Offline              L   2/1/2013  115456712   2/6/2013        5062

   Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0      255.28     159.42     2533654.00  1582243.50     951410.50
1      205.70     117.11      576782.80   328376.44     248406.36
2      651.21     524.96     1158502.59   933903.84     224598.75
3        9.33       6.92       75591.66    56065.84      19525.82
4      651.21     524.96     3296425.02  2657347.52     639077.50
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    object
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    object
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    float64
 12  Total Cost      100 non-null    float64
 13  Total Profit    100 non-null    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 11.1+ KB
None
           Order ID   Units Sold  Unit Price   Unit Cost  Total Revenue  \
count  1.000000e+02   100.000000  100.000000  100.000000   1.000000e+02
mean   5.550204e+08  5128.710000  276.761300  191.048000   1.373488e+06
std    2.606153e+08  2794.484562  235.592241  188.208181   1.460029e+06
min    1.146066e+08   124.000000    9.330000    6.920000   4.870260e+03
25%    3.389225e+08  2836.250000   81.730000   35.840000   2.687212e+05
50%    5.577086e+08  5382.500000  179.880000  107.275000   7.523144e+05
75%    7.907551e+08  7369.000000  437.200000  263.330000   2.212045e+06
max    9.940222e+08  9925.000000  668.270000  524.960000   5.997055e+06

         Total Cost  Total Profit
count  1.000000e+02  1.000000e+02
mean   9.318057e+05  4.416820e+05
std    1.083938e+06  4.385379e+05
min    3.612240e+03  1.258020e+03
25%    1.688680e+05  1.214436e+05
50%    3.635664e+05  2.907680e+05
75%    1.613870e+06  6.358288e+05
max    4.509794e+06  1.719922e+06
Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64
Item Type
Cosmetics          36601509.60
Office Supplies    30585380.07
Household          29889712.29
Baby Food          10350327.60
Clothes             7787292.80
Cereal              5322898.90
Meat                4503675.75
Personal Care       3980904.84
Vegetables          3089057.06
Beverages           2690794.60
Snacks              2080733.46
Fruits               466481.34
Name: Total Revenue, dtype: float64
TOTAL REVENUE: Region
Asia                                 21347091.02
Australia and Oceania                14094265.13
Central America and the Caribbean     9170385.49
Europe                               33368932.11
Middle East and North Africa         14052706.58
North America                         5643356.55
Sub-Saharan Africa                   39672031.43
Name: Total Revenue, dtype: float64
TOTAL PROFIT: Country
Djibouti       2425317.87
Myanmar        1802771.70
Pakistan       1719922.04
Samoa          1678540.98
Honduras       1609947.52
Iceland        1541705.29
Azerbaijan     1512926.83
Switzerland    1512729.45
Mexico         1457942.76
Rwanda         1417493.49
Name: Total Profit, dtype: float64
MOST SOLD ITEM: Item Type
Cosmetics          83718
Clothes            71260
Beverages          56708
Fruits             49998
Personal Care      48708
Office Supplies    46967
Household          44727
Baby Food          40545
Cereal             25877
Vegetables         20051
Snacks             13637
Meat               10675
Name: Units Sold, dtype: int64